In [1]:
%matplotlib inline
from matplotlib import style ,figure
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)

# reflect the tables

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station=Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [14]:
Measurement_db=session.query(Measurement).first()
Station_db=session.query(Station).first()

Measurement_db.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x20915340f88>,
 'id': 1,
 'station': 'USC00519397',
 'prcp': 0.08,
 'date': '2010-01-01',
 'tobs': 65.0}

In [15]:
Station_db.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2091538d0c8>,
 'name': 'WAIKIKI 717.2, HI US',
 'longitude': -157.8168,
 'id': 1,
 'station': 'USC00519397',
 'latitude': 21.2716,
 'elevation': 3.0}

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results



# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [16]:
# Calculate the date 1 year ago from the last data point in the database
Data_date=session.query(Measurement.date)

Max_date=dt.datetime.strptime(max(Data_date)[0],'%Y-%m-%d')
print(Max_date)

Last_year=Max_date-dt.timedelta(days=365)
Last_year_date=Last_year.strftime('%Y-%m-%d')
Last_year_date

2017-08-23 00:00:00

'2016-08-23'

In [17]:
# Perform a query to retrieve the data and precipitation scores

prcp_list=[Measurement.date,Measurement.prcp]
Data_prcp = session.query(*prcp_list).filter(Measurement.date >= Last_year_date).all()

In [18]:

# Save the query results as a Pandas DataFrame and set the index to the date column
Data_prcp_df=pd.DataFrame(Data_prcp)
Data_prcp_df=Data_prcp_df.set_index("date")

# Sort the dataframe by date
Data_prcp_df=Data_prcp_df.sort_values("date")
Data_prcp_df

            prcp
date
2016-08-23  0.00
2016-08-23   NaN
2016-08-23  1.79
2016-08-23  0.05
2016-08-23  0.15
...          ...
2017-08-22  0.00
2017-08-23  0.00
2017-08-23  0.00
2017-08-23  0.08
2017-08-23  0.45

[2230 rows x 1 columns]

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

rain_plot = Data_prcp_df.plot(figsize = (16, 6),rot=45)
plt.xlabel('Date')
plt.ylabel('Precipitation')
plt.title(f"Precipitation in Hawaii from {Last_year_date} to {max(Data_date)[0]}")
plt.show()

In [19]:
# Use Pandas to calcualte the summary statistics for the precipitation data
Data_prcp_df.describe()

              prcp
count  2021.000000
mean      0.177279
std       0.461190
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

In [28]:
# Design a query to show how many stations are available in this dataset?
Station_data = session.query(Station.station)
Station_data.count()

9

In [60]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
Measurement_list=[Measurement.id,Measurement.station,Measurement.date,Measurement.prcp,Measurement.tobs,Station.name]
Measurement_data = session.query(*Measurement_list).filter(Measurement.station == Station.station).all()
Measurement_df=pd.DataFrame(Measurement_data)
Measurement_df
Measurement_df=Measurement_df.set_index("id")
Num_Station=Measurement_df.groupby(["station"]).agg({'date':'count','name':'max'})
Num_Station.sort_values('date',ascending=False)

             date                                    name
station
USC00519281  2772                     WAIHEE 837.5, HI US
USC00519397  2724                    WAIKIKI 717.2, HI US
USC00513117  2709                    KANEOHE 838.1, HI US
USC00519523  2669      WAIMANALO EXPERIMENTAL FARM, HI US
USC00516128  2612            MANOA LYON ARBO 785.2, HI US
USC00514830  2202  KUALOA RANCH HEADQUARTERS 886.9, HI US
USC00511918  1979       HONOLULU OBSERVATORY 702.2, HI US
USC00517948  1372                       PEARL CITY, HI US
USC00518838   511              UPPER WAHIAWA 874.3, HI US

In [75]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?
Station_ST=Measurement_df.groupby(["station"]).agg({'name':'max','tobs':['min','max','mean','count']})
Station_ST

                                               name  tobs                   \
                                                max   min   max       mean
station
USC00511918       HONOLULU OBSERVATORY 702.2, HI US  53.0  87.0  71.615968
USC00513117                    KANEOHE 838.1, HI US  59.0  85.0  72.689184
USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US  58.0  85.0  74.873297
USC00516128            MANOA LYON ARBO 785.2, HI US  58.0  84.0  70.915008
USC00517948                       PEARL CITY, HI US  58.0  87.0  74.684402
USC00518838              UPPER WAHIAWA 874.3, HI US  58.0  83.0  72.724070
USC00519281                     WAIHEE 837.5, HI US  54.0  85.0  71.663781
USC00519397                    WAIKIKI 717.2, HI US  56.0  87.0  74.553231
USC00519523      WAIMANALO EXPERIMENTAL FARM, HI US  56.0  85.0  74.543649


            count
station
USC00511918  1979
USC00513117  2709
USC00514830  2202
USC00516128  2612
USC00517948  1372
USC00518838   511
USC00519281  2772
USC00519397  2724
USC00519523  2669

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`